@{
    ViewData["Title"] = "About";
}

<div style="vertical-align:top; text-align:center">
    <img src="~/images/VersionDocLogo.png" />
</div>

<p style="font-size:large">VersionDoc is a simplistic place to keep folders.</p>
<p style="font-size:large">Documents can be private or public. </p>
<p style="font-size:large">Private documents are only for your eyes and invited memebers</p>
<p style="font-size:large">Public documents are for everyone. Documents can be dowloaded and new versions uploaded</p>
<p style="font-size:large">Version logs will be kept for all documents</p>

