@{
    ViewData["Title"] = "Contact";
}

<div style="vertical-align:top; text-align:center">
    <img src="~/images/VersionDocLogo.png" />
</div>

<h2 class="text-center">@ViewData["Title"]</h2>

<address class="text-center">
    1174 Hendrick Van Eck Boulevard<br />
    Vanderbijlpark,<br />
    1900 <br />
    <abbr title="Phone">P:</abbr>
    016 910 3111
</address>

<address class="text-center">
    <strong>Support:</strong> <a href="mailto:Support@VersionDoc.com">Support@VersionDoc.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@VersionDoc.com">Marketing@VersionDoc.com</a>
</address>
