@{
    ViewData["Title"] = "Home Page";
}
<div style="vertical-align:top; text-align:center">
    <img src="~/images/VersionDocLogo.png" />
</div>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome</h1>
        <p class="lead" style="font-size:large">VersionDoc is a simplistic place to keep folders.</p>
        <p class="lead" style="font-size:large">Documents can be private or public. </p>
        <p class="lead" style="font-size:large">Private documents are only for your eyes and invited memebers</p>
        <p class="lead" style="font-size:large">Public documents are for everyone. Documents can be dowloaded and new versions uploaded</p>
        <p class="lead" style="font-size:large">Version logs will be kept for all documents</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="background-color:lightblue; border-style:dotted; border-color:black">
        <h4>Why is version control important?</h4>
        <p>
            Version control is important for documents that undergo a lot of revision and redrafting
            and is particularly important for electronic documents because they can easily
            be changed by a number of different users.
        </p>
        <p><a class="btn btn-default center-block" href="https://www2.le.ac.uk/services/research-data/organise-data/version-control">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4" style="background-color:lightblue; border-style:dotted; border-color:black"">
        <h4>7 Facts That Will Make You Rethink Document Management</h4>
        <p>
            Have you ever wondered about the impact your document processes have on your day-to-day life?
        </p>
        <p><a class="btn btn-default center-block" href="https://blog.gonitro.com/2015/05/7-facts-will-make-rethink-document-management/">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4" style="background-color:lightblue; border-style:dotted; border-color:black"">
        <h4>How To Do Document Version Control</h4>
        <p>
            Version control is used for lots of different project management assets. 
            You’ll come it across it in particular in coding, where developers need to keep meticulous logs of what’s been changed and what version is the current version of the code.
            The main elements of configuration management aren’t that different when we’re talking specifically about documents.
        </p>
        <p><a class="btn btn-default center-block" href="https://www.girlsguidetopm.com/how-to-do-document-version-control/">Learn more &raquo;</a></p>
    </div>
</div>