
@{
    ViewData["Title"] = "filesucsessfulUploadPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">File Successfully Uploaded</h3>

<label></label>

<div style="vertical-align:top; text-align:center; background-size:cover">
    <img src="~/images/FinalFileUploadFinished.png" />
</div>

<div style="margin-left: auto; margin-right: auto; text-align: center; height:400px">
    <label></label>
    <label></label>
    <label style="font-size:large; color:black">You will be redirected to the previous page after 3 seconds</label>
</div>

<script type="text/javascript">
        window.setTimeout(function () {
            window.location.href = '@Url.Action("Upload", "UploadDocument")';
    }, 3000);
</script>